
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
<div th:replace="common/header :: navbar" />

<div class="container">
    <div class="row">
        <form class="form-horizontal" th:action="@{/category/add}" method="post">
            <fieldset>
                <legend class="center-block">
                    New Category Information<span style="font-size: small">
							</span>
                </legend>
                <input type="hidden" name="id" th:value="${category.id}"/>
                <!-- Name -->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="name">Name</label>

                    <div class="col-md-8">
                        <input type="text" name="name" class="form-control" id="name"
                               th:value="${category.name}" required="required" placeholder="name" />
                        <span class="help-block"></span>
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-md-2"></div>

                    <div class="col-md-8">
                        <button type="submit" class="btn btn-success">Add Category</button>
                        <!--<a class="btn btn-danger" th:href="@{/}">Cancel</a>-->
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>


<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
