
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
<div th:replace="common/header :: navbar" />

<div class="container">
    <div class="row">

        <form class="form-horizontal" th:action="@{/productimages/updateimages(id=${product.id})}" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend class="center-block">
                    New ProductImages<span style="font-size: small">
							</span>
                </legend>
                <input type="hidden" name="id" th:value="${productImage.id}"/>
                <!-- Name -->
                <div class="form-group">
                    <div class="col-md-2">
                        <label for="productimages">Upload book image</label>
                    </div>
                    <div class="col-md-8">
                        <input id="productimages" type="file" name="productimages" th:value="${productImage.productimages}"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <button type="submit" class="btn btn-success">Add Product</button>
                        <a class="btn btn-danger" th:href="@{/}">Cancel</a>
                    </div>
                </div>

            </fieldset>
        </form>
        <h1>Product Images Upload</h1>
        <div class="container">
            <table id="bookListTable" class="table table-bordered">
                <thead>
                <tr>
                    <td>Image</td>
                    <th>ID</th>
                    <th>ProductID</th>
                    <th>Operation</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
                <tr data-th-each="productimage : ${productImages}">
                    <td><img th:src="${productimage.urlImage}" style="width: 50px;height: 50px"/></td>
                    <td th:text="${productimage.id}"></td>
                    <td th:text="${productimage.product.id}"></td>
                    <td><a th:href="@{/productimages/delete(id=${productimage.id})}">Delete</a></td>
                </tr>
            </table>
        </div>

    </div>
</div>


<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
