
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
<div th:replace="common/header :: navbar" />

<h1 style="text-align: center">Review List Page</h1>
<div class="container">
    <table id="bookListTable" class="table table-bordered">
        <thead>
        <tr>
            <td>UserID</td>
            <th>ProductID</th>
            <th>Rating</th>
            <th>Comment</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="review : ${listReview}">
            <!--<td><a th:href="@{/book/bookInfo(id=${book.id})}"><span th:text="${book.title}"></span></a></td>-->
            <td th:text="${review.user.id}"></td>
            <td th:text="${review.product.id}"></td>
            <td th:text="${review.rating}"></td>
            <td th:text="${review.comment}"></td>
            <td><button class=" btn btn-danger"><a th:href="@{/review/delete(id=${review.id})}">Delete</a></button></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="common/header :: body-bottom-scripts" />

<script>
    $(document).ready(function() {
        $("#bookListTable").DataTable({
            "lengthMenu": [[5,10,15,20,-1],[5,10,15,20,"All"]],
            "ordering": false,
            stateSave: true
        });
    });
</script>
</body>
</html>
