<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />
<body>
<div th:replace="common/header :: navbar"/>

<div class="container">
    <ol class="breadcrumb">
        <li><a th:href="@{/review/reviewList}"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>Go back</a></li>
        <li><a th:href="@{/review/updateReview?id=}+${review.id}">Edit</a></li>
    </ol>

    <div class="row">
        <div class="col-xs-9">
            <div class="row">
                <div class="col-xs-12">
                    <p><strong>Rating:</strong><span th:text="${review.rating}"></span></p>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="comment">Comment</label>
                        <div class="col-md-8">
                <textarea name="comment" rows="5" class="form-control"
                          id="comment" th:text="${review.comment}"
                          placeholder="Comment"/>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="common/header :: body-bottom-scripts"/>
</body>
</html>