
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
<div th:replace="common/header :: navbar" />

<h1 style="text-align: center">Product List Page</h1>
<div class="container">
    <table id="bookListTable" class="table table-bordered">
        <thead>
        <tr>
            <th>Images</th>
            <th>ID</th>
            <td>Name</td>
            <th>Operation</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="slide : ${listSlide}">
            <td>
                <img th:src="${slide.urlImage}" style="width: 50px;height: 50px"/>
            </td>
            <td th:text="${slide.id}"></td>
            <td th:text="${slide.name}"></td>
            <td><button class="btn btn-danger"><a th:href="@{/slide/delete(id=${slide.id})}">delete</a></button></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="common/header :: body-bottom-scripts" />

<script>
    $(document).ready(function() {
        $("#bookListTable").DataTable({
            "lengthMenu": [[5,10,15,20,-1],[5,10,15,20,"All"]],
            "ordering": false,
            stateSave: true
        });
    });
</script>
</body>
</html>
