
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
<div th:replace="common/header :: navbar" />

<h1 style="text-align: center">Wish List Page</h1>
<div class="container">
    <table id="bookListTable" class="table table-bordered">
        <thead>
        <tr>
            <td>ID</td>
            <td>Tên người dùng</td>
            <th>Tên sản phẩm</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each=" wishlist :${Listwish}">
            <!--<td><a th:href="@{/book/bookInfo(id=${book.id})}"><span th:text="${book.title}"></span></a></td>-->
            <td th:text="${wishlist.id}"></td>
            <td th:text="${wishlist.user.username}"></td>
            <td th:text="${wishlist.product.name}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="common/header :: body-bottom-scripts" />

<script>
    $(document).ready(function() {
        $("#bookListTable").DataTable({
            "lengthMenu": [[5,10,15,20,-1],[5,10,15,20,"All"]],
            "ordering": false,
            stateSave: true
        });
    });
</script>
</body>
</html>
